<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <!-- Load AngularJS -->
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="https://cdn.jsdelivr.net/ngstorage/0.3.6/ngStorage.min.js"></script>
		<script type="text/javascript">
			var app = angular.module("loginUser",["ngStorage"]);
	
				app.controller("loginUserController", function($scope,$http,$sessionStorage){
					
					$scope.message = "";
					
					$scope.form = {
						email : "",
						password : ""
					};
					
					$scope.submitformlogin = function(){
							 $http({
								 method : "POST",
								 url : "http://localhost:8080/meetUp/loginUser",
							data : angular.toJson($scope.form),
							headers :{
								'Content-Type' : 'application/json'
							}
						}).then(_success, _error);
					};	
					
					
				       function _success(response) {
				    	   
				    	  var userid = response.data.userid;
				    	  sessionStorage.setItem("userid",userid);
				    	   alert("user logged in succesfully");
				    	   location.href = "http://localhost:8080/meetUpFront/userPortal.html"
		                }
		                function _error(response) {
		                    console.log(response.statusText);
		                }
		                function _clearForm() {
		                    $scope.form.password = "";
		                    $scope.form.username = "";
		                   }   
			});
</script>



<body ng-app = "loginUser"  ng-controller = "loginUserController">
	
	<form ng-submit = submitformlogin()>
			<table>
                <tr>
                    <td>UserName</td>
                    <td><input type="text" ng-model="form.email" size="60" /></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" ng-model="form.password" size="60" /></td>
                </tr>
                <tr>
                    <td colspan="2"><input type="submit" value="Submit" /></td>
                </tr>
           </table>     
	</form>
	
	
</body>
</html>